<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">
      <form (ngSubmit)="doLogin()" #loginForm='ngForm'>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input class="form-control" type="email" [(ngModel)]="member_login.email" name="email" placeholder="Enter email" email>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input class="form-control" type="password" [(ngModel)]="member_login.password" name="password" placeholder="Password" required>
        </div>
        <!-- <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox"> Remember Password</label>
          </div>
        </div> -->
        <button class="btn btn-primary btn-block" type="submit" [disabled]="!loginForm.form.valid">Login</button>
      </form>
      <div class="text-center">
        <a class="d-block small mt-3" [routerLink]="['/join']">Register an Account</a>
        <!-- <a class="d-block small" href="forgot-password.html">Forgot Password?</a> -->
      </div>
    </div>
  </div>
</div>